*{
    margin: 0;
    padding: 0;
}
form{
    width: 400px;
    margin: 100px auto 0 auto;
    font-family: Helvetica;
}
input{
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px;
    outline: none;
}
label, legend{
    margin-left: 10px;
    padding: 0 5px;
}
label{
    width: 100px;
    display: inline-block;
    margin-left: 10px;
}
input[type="submit"]{
    width: 400px;
    background: linear-gradient(to bottom, red, yellow);
    font-weight: bold;
}
input:focus {                                                     
    border: solid 2px red ;
}